@font-face { 
	font-family: namco;
	src: url('/fonts/namco__.ttf');
}

body,html{
	background: url('/images/wp.jpg') center center fixed;
	margin:0;
	padding:0;
}

.top-menu{
	background:linear-gradient(to right, #2b2b2b99 , black);
	padding:10px;
	height:100px;
}
.top-menu .logo{
	width:215px;
}

ul.menu{
	float: right;
	color: red;
	padding: 0;
	margin: 0;
	margin-top: 35px;
	margin-right:20px;
}
ul.menu li{
	list-style-type: none;
	font-family: namco;
	color: #fff;
	display: inline-block;
	margin: 0 18px;
}

ul.menu li.active{
	text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #f7871e, 0 0 30px #ff5c18, 0 0 40px #ff0000, 0 0 55px #ffdc18, 0 0 75px #ff8d18;
}